
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  creationTimestamp: null
  name: switches.metal3.io
spec:
  group: metal3.io
  names:
    kind: Switch
    listKind: SwitchList
    plural: switches
    singular: switch
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Switch is the Schema for the switches API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SwitchSpec defines the desired state of Switch
            properties:
              ip:
                description: IP Address of the switch
                type: string
              os:
                description: The type of OS this switch runs
                type: string
              port:
                description: Port to use for SSH connection
                format: int32
                type: integer
              restrictedPorts:
                description: Restricted ports in the switch
                items:
                  description: RestrictedPort indicates the specific restriction on
                    the port
                  properties:
                    disabled:
                      description: True if this port is not available, false otherwise
                      type: boolean
                    portID:
                      description: Describes the port number on the device
                      type: string
                    trunkDisable:
                      description: True if this port can be used as a trunk port,
                        false otherwise
                      type: boolean
                    vlanRange:
                      description: Indicates the range of VLANs allowed by this port
                        in the switch
                      pattern: ([0-9]{1,})|([0-9]{1,}-[0-9]{1,})(,([0-9]{1,})|([0-9]{1,}-[0-9]{1,}))*
                      type: string
                  type: object
                type: array
              secret:
                description: The secret containing the switch credentials
                properties:
                  name:
                    description: Name is unique within a namespace to reference a
                      secret resource.
                    type: string
                  namespace:
                    description: Namespace defines the space within which the secret
                      name must be unique.
                    type: string
                type: object
            required:
            - ip
            - os
            - secret
            type: object
          status:
            description: SwitchStatus defines the observed state of Switch
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
