name: CI

on:
  push:
    branches: [ master ]
  pull_request: {}

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: fmt
        run: make fmt
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: lint
        run: make lint
  vet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: vet
        run: make vet
  sec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: sec
        run: make sec
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: unit
        run: make unit
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: build
        run: make build
